/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jun, 2015, 4:29:50 PM
    Author     : Thilaga Raja
*/
 
/*.navbar{
    height: 105px;
padding-top: 40px;
}*/
        .navbar-wrapper {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 51px;
        }
        .navbar-wrapper > .container {
            padding: 0;
        }

        @media all and (max-width: 768px ){
            .navbar-wrapper {
                position: relative;
                top: 0px;
            }
        }
   


        .company_name{
            color:rgb(130,144,46);font-family: cursive;
        }
        .company_link{
            padding-top: 6px;
        }
        .scroll_down{
            top:0;
        }
        .font{
            color:green;
        }
        #h1_font{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: rgb(0,128,0);
        }
        .font_white{
            color:white;
        }
        .for_resevation{
            padding-bottom: 15px;
border: 1px solid silver;
margin: 0px;
margin-left: -9px;
margin-top: 18px;
margin-bottom: 18px;
background-color: silver;
        }
        .heading{
           height: 9px;
            background-color: #008000;
            position: relative;
            margin-bottom: 70px;
            margin-top: 15px;
        }
        .near_content {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 365px;
    margin-right: 20px;
    width: 288px;
}
        .near_content h3{
            color: green;
            text-align: center
        }
        .near_content p{
            padding-left: 10px;
            text-indent: 10px
        }
        .near_img {
    width: 286px;
    height: 200px;
    padding: 10px;
}
        .footertext{
            color:white;
        }
        .top_heading{
            height: 9px;
            background-color: #008000;
            position: relative;
            margin-bottom: 70px;
           margin-top: 13%;
        }
        
        /********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


.welcome_home{
    text-indent: 86px;
}
.foot_top {
  background-color: #333;
  margin-top: 60px;
  padding-top: 34px;
  padding-bottom: 37px;
}
footer {
  padding: 70px 0px 50px 0px;
  background-color: #4e4c6c;
  color: #a8a6b7;
}
.foot_prop {
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 4px;
}
.foot_add {
  margin-left: -38px;
  line-height: 26px;
}
.foot_para {
  font-family: 'Raleway', sans-serif;
}
.copy {
  background-color: #191919;
  padding-top: 33px;
  margin-top: 0px;
  padding-bottom: 32px;
}
footer {
  padding: 70px 0px 50px 0px;
  background-color: #4e4c6c;
  color: #a8a6b7;
}
   

.cd-top.cd-fade-out {
  opacity: .5;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.price_prop {
  color: white;
}
.month {
  font-size: 11px;
  margin-top: -7px;
  margin-left: -18px;
  font-weight: bold;
}
.concession {
  font-size: 11px;
  font-family: "Montserrat",sans-serif;
  margin-top: 5px;
  margin-left: -18px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.copy {
  background-color: #191919;
  padding-top: 33px;
  margin-top: 0px;
  padding-bottom: 32px;
}
.book_now{
    margin-top: 165px
}
.box_row{
    border: 1px solid silver;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 8px;
margin-top: 14px;
background-color: rgb(132,159,170);
}

.logo_img{
  margin-left: 132px
}
.mm_nav{
  height: 10px
}
.mm_box{
  box-shadow: 6px 8px 13px silver;
padding-left: 18px;
height: 292px;
border: 1px solid silver;
}
.mm_room_img{

  width: 103%;
height: 291px;
}
.mm_room_div{
 margin-bottom: 25px;
}
#nav-bacground{

  background-color:rgb(36,36,36);
}
#navbar ul li a{
  color:#fff;
}