/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}*/


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{

}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{

}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */



/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100vh;
  /*background-color: #b61924;*/
  background-image: url("/websiteV2/img/slider/slider1.jpg");
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js2{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/service.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js3{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/product.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js4{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/about.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js5{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/quote.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js6{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/careers.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js7{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/contact2.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
#particles-js8{
  width: 100%;
  /*height: 100%;*/
  /*background-color: #b61924;*/
  /*background-image: url("/websiteV2/img/slider/slider1.jpg");*/
 background-image: linear-gradient(rgba(22, 22, 22, 0.48), rgba(22,22,22,0.5)), url(/websiteV2/img/header/blog.jpg);
  background-size: cover;
  height: 500px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
#particles-js2,#particles-js3,#particles-js4,#particles-js5,#particles-js6,#particles-js7,#particles-js8{
  height: 200px;
}

}

@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

  #particles-js2,#particles-js3,#particles-js4,#particles-js5,#particles-js6,#particles-js7,#particles-js8{
    height: 100vh;
  }
}
