/*Theme Name: Acestra Blog Theme
Theme URI: Your theme's URL
Description: A brief description of your theme
Version: 1.0 
Author: acestra
Author URI: localhost:/xampp/Templates-LandingPage;
Tags: responsive-layout
*/
/*body { text-align: center; }*/
#wrapper { display: block; border: 1px #a2a2a2 solid; width:90%; margin:0px auto; }
#header { border: 2px #a2a2a2 solid; }
#content { width: 75%; border: 2px #a2a2a2 solid; float: left; }
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; }
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }

.text-left{
	text-align: left;
}
 /* my design */
.img-center{
       text-align: center;
margin-left: auto;
margin-right: auto;
}
.page_nav{
       text-align: center;
}
.h3-color{
       color: #0088cc;
}
.side_tab{
	border: 1px solid grey;
border-radius: 7px;
margin-bottom: 18px;
background-color: rgb(225, 221, 221);
}
.side_tab div ul{
	list-style: none;
}

#exTab1 .tab-content {  
   
  background-color: #FFF;
border: 1px solid #EEE;
border-radius: 0 0 4px 4px;
border-top: 0;
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
padding: 15px;
}
#exTab1 .nav-pills > li {
	border-radius: 10px;
}
#exTab1 .nav-pills > li > a {
	font-size: 14px;
  border-radius: 0;
}
.tab-pane >ul{
	list-style: none;
}
#exTab1{
	padding-bottom: 10px;
	}
	.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFF;
    border: 1px solid grey;
    border-radius: 10px;
}
.post-meta {
    color: #888;
    font-size: 0.8em;
}

ul.simple-post-list li{
	border-bottom: 1px dotted #E2E2E2;
    min-height: 62px;
    padding: 15px 0;
}
/*.simple-post-list > li
{
	margin-left: -30px;
}*/
body a{
	outline: none !important;
}
/*.ul-align{
       margin-left: -30px;
}*/
#relatedcontent{
	text-align: left;
}
.upper-text{
	text-transform:uppercase;
}
.wp_section{
	margin-top: 3%;
}
.wp_contents{
	background-color: white;
border-radius: 8px;
margin-top: 13px;
}
.wp_contents_para{
	padding: 43px;
}
.wp_title_left{
	margin-left: -40px;
}
.wp_content_image{
	border: 1px solid rgb(218, 212, 212);
border-radius: 5px;
padding: 1px;
margin-bottom: 19px;
}

/*.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  }*/

/*.breadcrumb li {
  display: inline-block;
  *display: inline;
   IE7 inline-block hack 

  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
  }*/

/*.breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
  }*/

/*.breadcrumb .active a {
  color: #333333;
  }*/
  .marginLeft{
    margin-bottom: 15px;
  }

  .nav-pills .active {
    background-color: #00A1F1 !important;
  }
  .nav-pills .active a {
    border: none !important;
    color: #FFF !important;
  }
  .nav-pills a {
    color: #000 !important;
  }
  .simple-post-list li a  {
    color: #00A1F1 !important;
    text-decoration: none;
  }


.page-numbers{
          padding: 12px 14px;
        border: 1px solid #ddd;
        background-color: #FFF;
}
.pagination_head{
  margin-bottom: 20px !important;
}
.blog_post{
  padding: 16px;
    margin-bottom: 30px;
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1);
}
  @media(min-width:320px) and (max-width:767px){ 
 .wp_title_left{
    margin-left: 0px;
  }
   .wp_section {
    margin-top: 25%;
}

  }
@media(min-width:768px) and (max-width:1024px){
  .wp_section {
    margin-top: 15%;
}
.wp_title_left{
    margin-left: 0px;
}
}

