.default-logo{
	/*background-color: rgb(255, 255, 255);*/
}
.funfacts:before {
background-color: transparent !important;
	}
	.partners {
    background-color: #fff !important;
}
.p-logo.funfacts i{
    /* color: #000 !important; */
    font-size: 2.998rem
}
.counter-box span{
	 color: #fff !important;
    bottom: 109px !important;
    position: absolute !important;
    right: 85px !important;
}
.col1{
   color: #d0d0d0;
   font-size: 0.9rem;
    line-height: 1.414em;
    font-weight: 400;
}
.col1 strong{
    font-size: 1.1rem;
}
.rotate{
 -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    display: inline-block;
}
.textWidget2.mountainWidget.price-features,ul li a{
    color: #fff;
    text-decoration: none;
}
.headerCarousel .item .header-bg:before {
     background-color: rgba(0, 0, 0, 0) !important;
}
.live{
    font-size: 12px;
    float: right;
    margin-right: 40px;
}
.live img{
       height: 18px;
    width: auto;
}
.service-4 h4:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #007fbe;
}
.tab1 .tabpanel .section-subtitle1 {
    position: relative;
    margin-bottom: 32px;
    font-size: 1.25rem;
    line-height: 1.4;
    font-style: italic;
}
.tab1 .tabpanel .section-subtitle1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    background-color: #007fbe;
    width: 60px;
    height: 2px;
}
.menuzord .menuzord-brand {
    margin: 0px 30px 5px 0 !important;
}
/*.btn-default {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: #fff !important;
}*/
.btn-default:hover {
    color: #000 !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border-color: #000 !important;
}
.bgsec{
    background-image: url(../img/bg.png);
    background-repeat: repeat;
}
/*.no-gutter{background-color: #fff !important;}*/
 .img-sidebar {overflow: auto !important;}
 .portfolio-thumb {
    position: relative;
    border: 1px solid #d3d3d3  !important;
}
input,.radio,.upload {
    margin-bottom: 10px !important;
}
.sub_error {
    color: red;
font-weight: 100;
font-size: 19px;
}
.contact-form .form-control {
    padding: 5px 10px !important;
}
.help-block{
    color: brown;
}
.has-error{
    border: 1px solid #c51d1d;
}
.wp_title_left a,.h3-color,#relatedcontent a
{
    color: #000;
}
.wp_title_left a:hover,#relatedcontent a:hover
{
text-decoration: none;
}
.date
{
    background-color: #000;
}
.email{
     text-decoration: underline !important;
    font-weight: 100 !important;
    /* text-transform: lowercase !important; */
}

@media (min-width: 320px) and (max-width: 767px){
    /* .menuzord .menuzord-brand img {
       width: 50%;
    } */
    .menuzord .menuzord-brand {
           margin: 10px 6px 10px 0px !important;
           width: 79%;
    }
    .mobileview_bottom{
        margin-bottom: 51px !important;
    }
    .headerCarousel .owl-nav .owl-prev, .headerCarousel .owl-nav .owl-next {
    font-size: 35px;
}
.headerCarousel .owl-nav .owl-prev, .headerCarousel .owl-nav .owl-next {
    width: 35px;
    }
    .menuzord-responsive .showhide {
    padding: 30px 0 0;
}
.menuzord-brand .default-logo img,.menuzord-brand .dark-logo img{
    width: 75%;
}
   /* .portfolio-grid-sortable {
    height: 4400px !important;
    position: relative;
}*/
.panel-heading a {
    line-height: 2;
    text-align: center;
    padding: 6px 10px 30px 10px;
}
}

.job_aply {
    font-style: normal;
    margin-left: 11px;
    margin-bottom: 5px;
}

/*  .invalid { border-color: red; }
  #error { color: red }

  .error{
  border-color: #f00 !important;
  background-color: #f9bdbb;
  color: #000;
}

.success{
  border-color: #2baf2b;
  background-color: #a3e9a4;
  color: #000;
}*/
.error { border: 3px solid #ED1941 !important; }

input[type="text"]:focus:valid,
input[type="email"]:focus:valid {
    border-color: #009dff;
}

input[type="text"]:focus:invalid,
input[type="email:"]:focus:invalid {
    border-color: #ff006a;
}
