 .anim-slide h1
  {
color: #F0FF00;
font-size: 50px;
text-shadow: 1px 1px 20px #AAA;
  }
  .anim-slide h2
  {
    color: #000;
    font-size: 35px;
  }
  .anim-slide h3
  {
    color: #fff;
    font-size: 30px;
  text-shadow: 1px 1px 20px #AAA;
  }
  .anim-slide h4
  {
    font-size: 25px;
  }
  .slider3_1{
    color: #FF9E30 !important;
    text-shadow: 0px 0px 0px !important;
  }
  .slider3_2{
    color: #FE8F00;
  }
  .animation_text1{
    color: #FFF;
text-shadow: 0px 0px 13px #000;
  }
  .animation_text3{
    color: #1E1102 !important;
}
  .anim-slide h1#slider{width:100%;top: 87px;font-weight: 800;}
  .anim-slide h2#plugin{ width:100%;}
  .anim-slide h3#license{width:100%;top: 37%;}
  .anim-slide h4#version{width: 100%;top: 54%;}
.side_img{
  top: 78%;
margin-left: -48px;
}
.side_img1{
  top: 79%;
margin-left: 9px;
}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
  text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}